#box-container {
    display: grid;
    grid-template-columns: 275px 1000px;

}

#box-1 {
    height: 100%;
}

#box-2 {
    background-color:rgb(24, 21, 21);
    height: 100%;
    justify-self: left;
}

.nav-link {
    text-decoration: none;
    color: rgb(174, 177, 29);
}

li {
    list-style-type: none;
}

ul {

    list-style-type: none;
}

#navbar {
    position: fixed;
    height: 100%;
    background-color:rgb(24, 21, 21);
    padding-top: 35px;
    border-right: solid;
    border-right-color: lightslategray;
}

body {
    background-color: rgb(24, 21, 21);
    color: rgb(174, 177, 29);
}

